<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="css-login/common.css" />
    <link rel="stylesheet" type="text/css" href="css-login/fonts.css" />
    <link rel="stylesheet" type="text/css" href="css-login/Login.css" />
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>


</head>

<body class="flex-column">
    <div class="login group">
        <div class="content_box1">
            <div class="row">
                <div class="item">
                    <div class="col">
                        <div class="txt">BIENVENIDO</div>
                        <div class="txt1">username</div>
                        <div class="group1">
                            <input type="text" name="" class="rect1"/>
                        </div>
                        <div class="txt2">password</div>
                        <div class="item">
                            <div class="group1">
                                <input type="text" name="" class="rect1"/>
                            </div>
                        </div>
                        <div class="row1">
                            <div class="txt3">remember</div>
                            <div class="spacer"></div>
                            <div class="txt4">forgot password?</div>
                        </div>
                        <div class="content_box">
                            <a href="#" onclick="Sesion()"><div class="txt5">login</div></a>
                        </div>
                        <div class="row2">
                            <div class="item">
                                <img class="img" src="assets-login/ccb24599fd1b95a0723426c811de3c64.png" alt="alt text" />
                            </div>
                            <div class="item1">
                                <img class="img1" src="assets-login/fa731eb4ee76d9db6d886be33f79f1da.png" alt="alt text" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="item1">
                    <img class="img2" src="assets-login/311cb1c6bd3910d6931010e6012538bf.png" alt="alt text" />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        AOS.init();
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/guardar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.10/dist/sweetalert2.all.min.js"></script>
</body>

</html>